
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Poppins", sans-serif;
}

header {
    background: #262525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-inline: 2rem;
    height: 15rem;
    width: 100%;
    z-index: 10;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 3.5rem;
    font-weight: 500;

}

header img {
    height: 14rem;
}

nav ul {
    display: flex;
    gap: 7rem;
    list-style: none;
}

nav div {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-left: 10rem;
    padding-right: 3rem;
}

nav li:hover {
    transform: scale(1.1);
}

:root {
    font-size: 62.5%;
}

.logo {
    position: relative;
    width: 50rem;
    top: 51.2rem;
    right: 4rem;
}

body {
      background-image: url("photo-1542640244-7e672d6cef4e.jpeg");
      background-size: cover;
      background-position: center;
      min-height: 85rem;
      background-repeat: no-repeat;
}