* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Poppins", sans-serif;
}

header {
    background: #262525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-inline: 2rem;
    height: 15rem;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 3.5rem;
    font-weight: 500;

}

img {
    height: 14rem;
}

nav ul {
    display: flex;
    gap: 7rem;
    list-style: none;
}

nav div {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-left: 10rem;
    padding-right: 3rem;
}

nav li:hover {
    transform: scale(1.1);
}

:root {
    font-size: 62.5%;
}


body {
  background: #e6ddbc;
  min-height: 120rem;
  padding-top: 20rem;
 
}

main p {
    max-width: 64rem;
    font-size: 2.4rem;
}

main {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    justify-content: center;
   

}

main img {
    
    width: 60rem;
  height: auto;
  border-radius: 1rem;

}

.culinariajapão {
  display: flex;
  justify-content: center; 
  align-items: center;  
  margin-top: 4.8rem;
  gap: 4.3rem;
}

.culinariajapão img {
    width: 60rem;
    height: auto;
  border-radius: 1rem;
}

.culinariajapão ol{
    max-width: 64rem;
    font-size: 2.3rem;
}